li{
    margin: 30px;
    padding: 30px;
    width: 250px;
    max-width: 250px;
    max-height: 400px;
    
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.card > img{
    height: 200px;
    width: 200px;
}

.card{
    margin-top: 40px;
    padding: 1rem;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 10px  10px #ccc;
    justify-content: center;
    align-items: center;
    
}

.card > p{
    
}